.NavbarContainerComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #fff, rgba(115, 213, 202, 255));
    width: 100%;
    position: fixed;
    z-index: 10;

    img {
        height: 5rem;
    }
}